.headerWrapper .headerTitle {
	overflow: hidden;
	text-indent: -9999px;
}

.headerWrapper header img {
	margin: 0 10px;
	display: block;
}

code {
	background: #f2f2f2;
}

code.hljs {
	background: #2b1100;
}

.reactNavSearchWrapper input#search_input_react {
	border-radius: 2px;
	background-color: rgba(242, 196, 178, 0.25);
	line-height: 25px;
}

.navSearchWrapper::before {
	border-width: 2px;
}

.navSearchWrapper::after {
	width: 2px;
}

.navigationWrapper .slidingNav > ul > li > a {
	background: #2b1100;
}

body,
.mainContainer {
	background: none;
	padding-bottom: 80px;
}

.container.paddingTop {
    padding-top: 50px;
}

.container.paddingBottom {
    padding-bottom: 50px;
}

.mainContainer .wrapper code {
	max-width: 50rem;
}

.mainContainer .wrapper p,
.mainContainer .wrapper ul,
.mainContainer .wrapper ol {

	padding-top: 0;
    margin: 0.8em 0;
}

.docMainWrapper.wrapper {
	margin-bottom: 0;
}

.homeWrapper .helloWorld {
	margin: 1em auto;
}

.homeWrapper .helloWorld code {
	display: inline-block;
	padding: 0.8em;
}

.imageAlignTop .blockImage {
    width: auto;
    max-width: 100%;
}

.imageAlignTop .blockImage img {
	height: 120px;
}

.container .wrapper h3 {
	margin-top: 1em;
}

.mainContainer .wrapper .post {
	padding-bottom: 40px;
}

.mainContainer .wrapper .post h3 {
	font-size: 140%;
	color: #026e00;
}

.mainContainer .wrapper ul ul {
	list-style-type: circle;
}

.docsNavContainer nav.toc .navBreadcrumb {
	height: 50px;
}

.docsNavContainer nav.toc .navBreadcrumb .navToggle i,
.docsNavContainer nav.toc .navBreadcrumb .navToggle::before,
.docsNavContainer nav.toc .navBreadcrumb .navToggle::after {
	display: none;
}

.docsNavContainer nav.toc .navBreadcrumb .navToggle  {
	background: no-repeat center url(/img/menu-bars.svg);
	width: 40px;
	height: 40px;
}

.navBreadcrumb h2 {
	display: none;
}

.docsNavContainer .toc .toggleNav .navGroups {
	padding-top: 90px;
}

.docsNavContainer .toc .toggleNav,
.docsNavContainer .toc .toggleNav .navGroup.navGroupActive {
	background: #fbfbfb;
}

.docsNavContainer .toc .toggleNav .navGroup.navGroupActive h3 {
	color: #026e00;
    background: none;
    font-style: italic;
    font-size: 1.3em;
    padding-bottom: 0;
}

.docsNavContainer .toc {
	width: auto;
}

nav.toc .toggleNav ul li a {
	font-size: 100%;
}

a {
	color: #026e00;
}

a:hover {
	text-decoration: underline;
}

.button {
	border-color: #026e00;
	color: #026e00;
	text-transform: none;
}

.button:hover {
	background-color: #026e00;
}

.docs-prev {
	display: inline-block;
}

.read-more,
.blog-recent,
.docs-prevnext {
	margin-left: -4px;
	margin-right: -4px;
}

footer.nav-footer {
	box-shadow: inset 0 20px 30px 0 rgba(0,0,0,0.05)
}

footer .sitemap a.github-link {
    display: inline-block;
    margin-right: 0;
}

footer .sitemap a.github-link + iframe {
    display: inline-block;
    vertical-align: text-bottom;
}

@media (max-width: 480px) {
	.fixedHeaderContainer {
		min-height: 84px;
	}

	.navigationSlider .slidingNav ul {
		margin-top: 84px;
	}

	.navSearchWrapper {
		top: 50px;
    	width: calc(100% - 40px);
		right: 20px;
	}

	.navPusher {
		padding-top: 134px;
	}
}

@media (min-width: 736px) {
	.mainContainer {
		padding-left: 40px;
		padding-right: 40px;
	}

	.separateOnPageNav .docMainWrapper .docsNavContainer {
		background: #fbfbfb;
		border-right: 1px solid #ccc;
		margin: 0;
		width: 33%;
		min-width: 205px;
		max-width: 280px;
	}

	.docsNavContainer .toc {
		margin: 40px 0 0 20px;
		width: auto;
	}

	.docsNavContainer .toc .toggleNav .navGroups {
		padding-top: 0;
	}

	.blogContainer {
		padding-left: 40px;
		padding-right: 40px;
	}
}
