{{#each properties}}
  - **{{name}}** *{{type}}* {{#unless required}}<span class="optional">[optional]</span>{{/unless}}{{#if hasDefault}}

    <span class="default">Default {{default}}</span>{{/if}}{{#if description}}

    {{{description}}}{{/if}}
  {{> properties}}

{{/each}}
